    
    h1{
        text-align: center;
        color: green;
       
        text-shadow: 8px 8px 30px rgb(250, 0, 0);
        letter-spacing: 3.5px;
        word-spacing: 1px;
        font-size: 50px;
        font-weight: 300;
       font-family: sans-serif;

        line-height: 80px;


}