h1{
    text-align: center;
    color: green;
    text-shadow: 2px 2px 1px rgb(248, 4, 4);
    letter-spacing: 3.5px;
    word-spacing: 1px;
    font-size: 50px;
    font-weight: 550;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 80px;
}
marquee{
    text-decoration: underline;
    color: rgb(255, 1, 1);
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 550;
    font-family: sans-serif;
}
img{

    position: relative;
    left: 580px;
    top: 250px;
    border-radius: 60px;

    box-shadow: 10px 10px 2px rgb(207, 217, 224);
   
  
    
    
}
   body{
       background-color: black;
   } 
    
    